.border {
	border-style: solid;
	border-width: 1px;
}
.sprite {
	background: url('../img/tiles.png') no-repeat 0 0;
	width: 1024px;
	height: 271px;
}
/* row 1 */
.sprite-tile1 {
	background: url('../img/tiles.png') no-repeat 0 0;
	width: 70px;
	height: 90px;
}
.sprite-tile4 {
	background: url('../img/tiles.png') no-repeat -70px 0;
	width: 70px;
	height: 90px;
}
.sprite-tile5 {
	background: url('../img/tiles.png') no-repeat -140px 0;
	width: 70px;
	height: 90px;
}
.sprite-tile6 {
	background: url('../img/tiles.png') no-repeat -210px 0;
	width: 70px;
	height: 90px;
}
.sprite-tile7 {
	background: url('../img/tiles.png') no-repeat -280px 0;
	width: 70px;
	height: 90px;
}
.sprite-tile8 {
	background: url('../img/tiles.png') no-repeat -350px 0;
	width: 70px;
	height: 90px;
}
.sprite-tile9 {
	background: url('../img/tiles.png') no-repeat -420px 0;
	width: 70px;
	height: 90px;
}
.sprite-tile10 {
	background: url('../img/tiles.png') no-repeat -490px 0;
	width: 70px;
	height: 90px;
}
.sprite-tile11 {
	background: url('../img/tiles.png') no-repeat -560px 0;
	width: 70px;
	height: 90px;
}
.sprite-tile12 {
	background: url('../img/tiles.png') no-repeat -630px 0;
	width: 70px;
	height: 90px;
}
.sprite-tile13 {
	background: url('../img/tiles.png') no-repeat -700px 0;
	width: 70px;
	height: 90px;
}
.sprite-tile14 {
	background: url('../img/tiles.png') no-repeat -770px 0;
	width: 70px;
	height: 90px;
}
.sprite-tile15 {
	background: url('../img/tiles.png') no-repeat -840px 0;
	width: 70px;
	height: 90px;
}
.sprite-tile16 {
	background: url('../img/tiles.png') no-repeat -910px 0;
	width: 70px;
	height: 90px;
}


/* row 2 */
.sprite-tile2 {
	background: url('../img/tiles.png') no-repeat 0 -90px;
	width: 70px;
	height: 90px;
}
/* row 3*/
.sprite-tile3 {
	background: url('../img/tiles.png') no-repeat 0 -180px;
	width: 70px;
	height: 90px;
}