<ul class="nav nav-tabs">
	<li role="presentation"><a ui-sref="home.all">Home</a></li>
	<li role="presentation"><a ui-sref="game.board">Board</a></li>
	<li role="presentation" class="active"><a ui-sref="game.players">Players</a></li>
</ul>
<div class="panel-heading">Joined players</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Player</th>
			<th>Matched tiles</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="player in game.players">
			<td width="25%">{{player._id}}</td>
			<td width="75%">
				<span style="display: inline-block;" ng-repeat="tile in game.tiles" ng-if="tile.match">
					<span class={{tile.tile.suit}}-{{tile.tile.name}}></span> 
				</span>
			</td>
		</tr>
	</tbody>
</table>