<ul class="nav nav-tabs">
	<li role="presentation" ><a ui-sref="home.all">All</a></li>
	<li role="presentation"><a ui-sref="home.active">Active</a></li>
	<li role="presentation" class="active"><a ui-sref="home.open">Open</a></li>
	<li role="presentation"><a ui-sref="home.finished">Finished</a></li>
</ul>

<div class="panel panel-default">

	<!-- Table -->
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Template</th>
				<th>Creator</th>
				<th>Amount of Players</th>
				<th>State</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="game in games | orderBy:'+startedOn' | filter: {state :'open'} ">
				<td>{{game.gameTemplate.id}}</td>
				<td>{{game.createdBy.name}}</td>
				<td>{{game.players.length}} / {{game.maxPlayers}}</td>
				<td>{{game.state}}</td>
				<td><button ng-click="viewTiles(game)">View</button></td>
				<td><button ng-click="addPlayerToGame(game)" ng-show="game | gameState : 'open'">Join</button></td>
				<td><button ng-click="startGame(game)" ng-show="game.createdBy._id == user._id">Start</button>
			</tr>
		</tbody>
	</table>
</div>		

