<div ng-controller="GameListController">
	<ul>
		<form name="game" class="border" ng-submit="createGame()">
			<select ng-model="game.layout">
				<option>snake</option>
				<option>shanghai</option>
				<option>ox</option>
				<option>ram</option>
				<option>dragon</option>
				<option>rooster</option>
				<option>monkey</option>
			</select>
			<input ng-model="game.minPlayers" type="number" min="1" required="true" max="35" placeholder="minPlayers"/>
			<input ng-model="game.maxPlayers" type="number" min="1" required="true" max="35" placeholder="maxPlayers"/>
			<input type="submit" id="submit" value="Submit" />
		</form>
		<a href="http://mahjongmayhem.herokuapp.com/auth/avans?callbackUrl=http://localhost:8080/dist/index.html#authcallback">Login</a>
		<li ng-repeat="game in games | orderBy:'+startedOn'">
			<div class="border">
				<span>{{game.layout}}</span>
				<p>Creator: {{game.createdBy.id}}</p>
				<p>Amount of players: {{ game.players.length }} </p>
				<ul ng-if="game.state == 'open'" ng-repeat="player in game.players">
					<li>{{player.id}}</li>
				</ul>
				<p>State: {{game.state}}</p>
				<button ng-click="addPlayerToGame(game)" ng-show="game.state == 'open'">Join</button>
			</div>
		</li>
	</ul>
</div>